IF OBJECT_ID (N'BillStatus', N'U') IS NULL
BEGIN
CREATE TABLE dbo.BillStatus
	(
	Id int NOT NULL IDENTITY (1, 1),
	Label varchar(50) NOT NULL
	)  ON [PRIMARY]
ALTER TABLE dbo.BillStatus ADD CONSTRAINT
	PK_BillStatus PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

ALTER TABLE dbo.BillStatus SET (LOCK_ESCALATION = TABLE)

INSERT INTO dbo.BillStatus (Label) VALUES ('Pending')
INSERT INTO dbo.BillStatus (Label) VALUES ('Paid')
END
GO

IF COL_LENGTH('Bill', 'Status') IS NOT NULL
BEGIN
    ALTER TABLE Bill
    DROP COLUMN Status
END

IF COL_LENGTH('Bill', 'BillStatusId') IS NULL
BEGIN
    ALTER TABLE Bill
    ADD BillStatusId INT NOT NULL DEFAULT(1)
END

IF NOT EXISTS (SELECT TOP 1 1 FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS WHERE TABLE_NAME = 'Bill' AND CONSTRAINT_NAME = 'FK_Bill_BillStatus')
BEGIN
	ALTER TABLE [dbo].[Bill] WITH CHECK ADD CONSTRAINT [FK_Bill_BillStatus] FOREIGN KEY([BillStatusId]) REFERENCES [dbo].[BillStatus] ([Id])
END
