IF NOT EXISTS (SELECT TOP 1 1 FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS WHERE TABLE_NAME = 'Bill' AND CONSTRAINT_NAME = 'FK_Bill_BillCategory')
BEGIN
	ALTER TABLE [dbo].[Bill] WITH CHECK ADD CONSTRAINT [FK_Bill_BillCategory] FOREIGN KEY([CategoryId]) REFERENCES [dbo].[ExpenseIncomeCategories] ([CategoryId])
END
