IF EXISTS(SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Lease' AND COLUMN_NAME = 'InitialDepositDescription' AND DATA_TYPE = 'varchar' AND CHARACTER_MAXIMUM_LENGTH = 50)
BEGIN
	ALTER TABLE [Lease]
	ALTER COLUMN [InitialDepositDescription] varchar(max) NOT NULL
END