IF EXISTS(SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'LeaseStatus' AND COLUMN_NAME = 'Id')
BEGIN
	EXEC sp_RENAME 'LeaseStatus.Id', 'LeaseStatusId', 'COLUMN'
END

IF EXISTS(SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'LeaseApplicationStatus' AND COLUMN_NAME = 'Id')
BEGIN
	EXEC sp_RENAME 'LeaseApplicationStatus.Id', 'LeaseApplicationStatusId', 'COLUMN'
END