@{
    ViewBag.Title = "About";
}
<br/>
<h5>@ViewBag.Title</h5>
<hr/>
<p>Better Props gives property owners a powerful and easy to use web interface to manage their properties and track earnings and expenses. Also provides public access to browse properties available for rent or buy.</p>
