@{
    ViewBag.Title = "Better Props - Home";
}

<div class="jumbotron">
    <div class="jumbotronback">
        <h1>Better Props</h1>
        <p class="lead">Best web tool for easy property management.</p>
        <p>@Html.ActionLink("Learn more >>", "About", null, new { @class= "btn btn-primary btn-lg" })</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Better Props gives property owners a powerful and easy to use web interface to manage their properties and track earnings and expenses.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find properties</h2>
        <p>Public access to browse properties available for rent or buy.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Good to know</h2>
        <a href="https://www.google.com/search?q=Today%27s+Mortgage+Rates+and+Refinance+Rates" target="_blank">Today's mortgage rates and refinance rates.</a>
    </div>
</div>