
@{
    ViewBag.Title = "Main Dashboard";
}
<br/>
<h5>@ViewBag.Title</h5>
<hr/>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header">Billing Alerts</div>
                    <div class="card-body">
                        <h4 class="card-title">Missed payment</h4>
                        <p class="card-text">You missed the due date for 1 of your bills.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Lease Expiration</div>
                    <div class="card-body">
                        <h4 class="card-title">Good</h4>
                        <p class="card-text">No leases expire in the next 30 days</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Maintenance</div>
                    <div class="card-body">
                        <h4 class="card-title">Good</h4>
                        <p class="card-text">No maintenance tasks scheduled in the next 30 days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-6">
            <h5>Income/Expenses by Category(current year)</h5>
            <hr/>
            <div id="transactions">

            </div>
        </div>
        <div class="col-lg-6">
            <h5>Earnings by Month(current year)</h5>
            <hr />
            <div id="earnings">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function(){
            var plot1 = $.jqplot('transactions', @Html.Raw(ViewBag.TransactionsChartData), {
                seriesDefaults:
                {
                    shadow: false,
                    renderer:$.jqplot.PieRenderer, 
                    trendline:{ show: true },
                    rendererOptions: {
                        padding: 5, 
                        sliceMargin: 2, 
                        showDataLabels: true,
                        dataLabels: 'value',
                        dataLabelFormatString: '$%.2f'
                    }
                },
                legend:{ show: true, border: 'none' },
                grid: {
                    background: "transparent",
                    borderWidth: 0,
                    shadow: false
                }
            });
            var plot2 = $.jqplot('earnings', @Html.Raw(ViewBag.EarningsChartData), {
                axes:{
                    xaxis:{
                        renderer:$.jqplot.DateAxisRenderer,
                        tickInterval: '1 month',
                        tickOptions: {
                            formatString: '%b'
                        }
                    },
                    yaxis: {
                        tickOptions: {
                            formatString: '$%.2f'
                        }
                    }
                },
                highlighter: {
                    show: true,
                    sizeAdjust: 7.5,
                    useAxesFormatters: true
                }
            });
        });
    </script>
}